.container{
    width: 100%;

}
.div{
  width: 100%;
  height: 700px;
}
.header{
    width: 100%;
}
.footer{
    width: 100%;
}

.height1{
    height: 100px;
}
.height2{
    height: 700px;
}
.div1{
   height: 500px;
   width: 100%;
}
.image{
   height: 500px;
   width: 50%;
}
.img-seiko{
  width:90%;
  height: 500px;
}
.float{
  float: left;
  box-sizing: border-box;
}
.text-size1{
  font-size: 70px;
}

.text-size2{
  font-size: 30px;
}

.form-email{

  border:none;
  border-bottom: 1px solid black;
}
.form-submit{
  border-radius: 15%;
color: whitesmoke;
background-color: black;
width: 90px;
height:50px;
}
.secondary-div{
width: 80%;
height: 500px;
margin-top:30px;
margin-left:300px;
}
.padding{
padding: 125px;

}
.margin{
margin-left: 150px;
}
.color{
background-color:  lightgreen;
}
.div2{

height: 300px;
width: 100%;
}
.div3{
width: 80%;
height: 100%;

margin-left: 150px;
}
}
#anchor{
size:20px;
}
.myslide{
  display: none;
}

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
   
  }
  .active{
    background-color: #717171;
  }
